flask
flask_praetorian
flask_sqlalchemy
psycopg2-binary
flask_cors
flask_migrate
flask_marshmallow
marshmallow-sqlalchemy
flask_bcrypt
flask_jwt_extended
python-dotenv
flask_mail
flask_restful
gunicorn
requests